/* -------- Colors & base styles -------- */

:root {
  --main-color-dark: rgb(28, 35, 48); /* Main background color (dark) */
  --main-color-lighter: rgb(238, 236, 233); /* Main text color (lighter) */

  --main-color-darklighter: rgb(64, 76, 83);
  --main-color-darklight: rgb(37, 47, 66);
  --main-color-light: rgb(190, 190, 190);

  --main-color-green: rgb(30, 75, 30);
  --main-color-orange: rgb(128, 58, 12);
  --main-color-red: rgb(100, 1, 1);

  --bgcolor-tool-icon: rgb(189, 183, 107);
  --bgcolor-menu-dropdown: rgba(64, 76, 83, 0.97);
  --bgcolor-footer: rgb(41, 43, 46);
  --bgcolor-gradient-title-description: linear-gradient(
    135deg,
    hsla(120, 43%, 21%, 1) 50%,
    hsl(120, 57%, 35%) 100%
  );

  --border-navbar: 3px outset rgb(160, 158, 158);
  --border-tools: 5px groove rgb(51, 105, 105);

  --box-shadow-inputs: 0px 0px 5px 2px rgba(66, 68, 90, 1);

  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-color-dark);
  color: var(--main-color-lighter);
  font-family: "Cambay", sans-serif;
  font-size: 17px;
}

a {
  color: var(--main-color-lighter);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

/* Does not allow to change input background when user choose any suggested option */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
