/* Import styles for header, main image, main content and footer */
@import url(header_navbarcss);
@import url(main_imagecss);
@import url(main_contentcss);
@import url(footer.css);

/* Import colors and base styles for html tags */
@import url(_base.css);

/* Load fonts from files */
@font-face {
  font-family: "Cambay";
  src: url("../../fonts/Cambay-Regular.ttf") format("truetype"),
    url("../../fonts/Cambay-Italic.ttf") format("truetype"),
    url("../../fonts/Cambay-Bold.ttf") format("truetype"),
    url("../../fonts/Cambay-Bolditalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
