/* -------- HEADER NAVBAR STYLES -------- */

/* --------------------------- */
/* Basic header tags */
#header {
  height: 100px;
  margin-bottom: 5px;
}

@media only screen and (min-width: 992px) {
  #header {
    height: 57px;
    margin-bottom: 0px;
  }
}

#header-nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

@media only screen and (min-width: 992px) {
  #header-nav {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
  }
}

#header-nav-h {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* --------------------------- */
/* Mobile dropdown menu for devices with a width LESS than 992px */
#header-nav-menu-mobile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1200px) {
  #header-nav-menu-mobile-container {
    display: none;
  }
}

#menu-mobile-btn {
  background-image: url("../images/menu-navbar-collapsed.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--main-color-lighter);
  border: var(--navbar-border);
  border-radius: 8px;
  width: 50px;
  height: 35px;
  z-index: 1;
}

#menu-mobile-btn:active {
  border-style: inset;
}

/* Dropdown menu */
#menu-mobile-dropdown-container {
  border: 2px solid var(--main-color-darklighter);
  border-top: none;
  background-color: var(--main-color-dark);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25px;
  margin-left: 240px;
  width: 300px;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s, top 0.3s ease;
}

@media only screen and (min-width: 768px) {
  #menu-mobile-dropdown-container {
    margin-left: 325px;
    width: 375px;
  }
}

.menu-mobile-elements {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.menu-mobile-link {
  border-bottom: 2px double var(--main-color-darklighter);
  border-radius: 15px;
  padding: 12.5px 5px 12.5px 15px;
  font-weight: bold;
  transition: 0.25s ease;
}

.menu-mobile-link:hover {
  background-color: var(--main-color-darklighter);
  opacity: 0.85;
}

/* Submenu */
.submenu-mobile-btn {
  border-bottom: 2px double var(--main-color-darklighter);
  border-radius: 25px;
  margin-top: 2px;
  background: var(--main-color-darklight);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.submenu-mobile-btn:active {
  background: var(--main-color-orange);
}

@media only screen and (min-width: 768px) {
  .menu-mobile-elements {
    grid-template-columns: 5fr 1fr;
  }
  .menu-mobile-link {
    padding: 15px 5px 15px 15px;
  }
  .submenu-mobile-btn {
    border-radius: 50px;
  }
}

.triangle-mobile {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid var(--main-color-light);
  transition: 0.25s;
}

.submenu-mobile-container {
  height: 0;
  visibility: hidden;
}

.submenu-mobile-elements-ul {
  list-style-type: none;
  padding: 15px 5px 5px 15px;
}

.submenu-mobile-elements-ul:last-child {
  border-bottom: 2px inset var(--main-color-darklighter);
  border-radius: 15px;
}

.submenu-mobile-element-li {
  padding-bottom: 10px;
  height: 42px;
  transition: color 0.15s;
}

.submenu-mobile-element-li:hover {
  color: var(--main-color-light);
}

#menu-dropdown-invisible-background {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

/* --------------------------- */
/* Menu for devices with a width MORE than 992px */
#header-nav-menu-container {
  display: none;
  justify-content: space-around;
}

@media only screen and (min-width: 1200px) {
  #header-nav-menu-container {
    display: flex;
  }
}

.menu-elements {
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.menu-elements > a {
  color: var(--main-color-light);
  transition: 0.25s ease;
}

.menu-elements:hover > a {
  color: var(--main-color-lighter);
}

.triangle {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid var(--main-color-light);
  position: relative;
  top: 33px;
  right: 50%;
  width: 0;
  height: 0;
}

@keyframes bounce {
  0% {
    top: 33px;
  }
  50% {
    top: 36px;
  }
  100% {
    top: 33px;
  }
}

.menu-elements:hover .triangle {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid var(--main-color-lighter);
  animation: bounce 0.8s infinite alternate;
}

.menu-subelements {
  background: var(--main-color-dark);
  border-radius: 8px;
  list-style-type: none;
  position: absolute;
  top: 35px;
  width: 25%;
  max-width: 400px;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition: visibility 0s, opacity 0.3s, top 0.3s ease;
}

.subelement {
  border-bottom: 2px double var(--main-color-darklighter);
  border-radius: 15px;
  height: 50px;
  padding: 15px 0px 15px 15px;
  font-weight: bold;
  z-index: 1;
}

.subelement:hover {
  background-color: var(--main-color-darklighter);
  transition: 0.1s ease-in-out;
}

.menu-elements:hover .menu-subelements,
.menu-subelements:hover + .menu-subelements {
  visibility: visible;
  opacity: 0.85;
  top: 57px;
}

/* --------------------------- */
/* Search bar */
#header-nav-search-bar {
  display: flex;
  align-items: center;
  position: relative;
  grid-column-start: 1;
  grid-column-end: span 2;
}

@media only screen and (min-width: 992px) {
  #header-nav-search-bar {
    grid-column-start: 3;
  }
}

#search-bar-input {
  color: var(--main-color-dark);
  background-color: var(--main-color-lighter);
  border: var(--navbar-border);
  border-radius: 15px;
  padding: 10px;
  margin: 0 0 0 20px;
  width: 65%;
  height: 65%;
}

#search-bar-input:focus {
  outline: none;
  border-style: groove;
}

@media only screen and (min-width: 992px) {
  #search-bar-input {
    width: 65%;
  }
}

#search-bar-btn {
  color: var(--main-color-lighter);
  background-color: var(--main-color-green);
  border: var(--navbar-border);
  border-radius: 10px;
  margin-left: 5px;
  width: 15%;
  height: 65%;
}

#search-bar-btn:active {
  border-style: inset;
}

#search-bar-results {
  font-size: 16px;
  background-color: var(--main-color-lighter);
  background-color: rgba(64, 76, 83, 0.8);
  border-radius: 8px;
  position: absolute;
  top: 55px;
  left: 20px;
  width: 64.8%;
  z-index: 1;
}

@media only screen and (min-width: 992px) {
  #search-bar-results {
    top: 57px;
    width: 80%;
  }
}

#search-bar-results > div {
  padding: 8px 12px;
}

#search-bar-results > div > a:hover {
  color: var(--main-color-light);
}
