/* -------- MAIN CONTENT STYLES -------- */

#main-article-content {
  display: flex;
  flex-direction: column;
  margin: 30px 15px 0px 15px;
}

@media only screen and (min-width: 992px) {
  #main-article-content {
    margin: 30px 60px 0px 60px;
  }
}

.content-section-styles {
  border: 5px ridge var(--main-color-darklighter);
  border-radius: 10px;
  margin-bottom: 30px;
}

.content-section-text {
  background: var(--bgcolor-gradient-title-description);
  padding: 15px;
}

.content-section-text > h3 {
  margin-bottom: 10px;
}

.content-section-tools {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px 0px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .content-section-tools {
    grid-template-columns: 1fr 1fr;
    margin: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .content-section-tools {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
  }
}

.section-tool {
  border: var(--border-tools);
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 0px 15px;
  height: 85px;
  transition: 0.2s ease;
}

.section-tool:active {
  border-style: ridge;
}

.section-tool:hover {
  background-color: rgb(38, 65, 65);
}

.section-tool-icon {
  background-color: var(--bgcolor-tool-icon);
  border-radius: 4px;
  margin-right: 10px;
  padding: 2px;
  width: 44px;
  height: 44px;
}
