/* ------------------------------------- */
/* Default styles for program i.e. unit converters, online calculators etc. */
#content-section-program {
  padding: 15px 10px;
}

#program-form {
  display: flex;
  flex-direction: column;
}

#program-form > label {
  margin-bottom: 5px;
}

#program-form-btns {
  display: flex;
  justify-content: space-evenly;
}

#program-form-btn-calculate,
#program-form-btn-reset {
  color: var(--main-color-light);
  border-color: rgb(160, 158, 158);
  border-radius: 20px;
  border-width: 1px;
  font-size: 15px;
  margin: 5px 0px;
  width: 125px;
  height: 35px;
}

#program-form-btn-calculate:hover,
#program-form-btn-reset:hover {
  cursor: pointer;
}

@media (min-width: 576px) {
  #program-form-btn-calculate,
  #program-form-btn-reset {
    width: 25%;
  }
}

#program-form-btn-calculate {
  background-color: var(--main-color-green);
}

#program-form-btn-reset {
  background-color: var(--main-color-orange);
}

#program-table {
  font-size: 15px;
  width: 100%;
  display: block;
  height: 0;
  opacity: 0;
  overflow-wrap: anywhere;
  z-index: -1;
}

#program-table td {
  width: 100vw;
  padding: 5px 10px;
  border: 2px double var(--main-color-darklight);
}

#content-section-description {
  z-index: 0;
}

#content-section-description > h3 {
  background-color: var(--main-color-green);
  padding: 15px;
  margin-bottom: 5px;
}

#content-section-description p {
  padding: 5px 10px;
}

#content-section-description p:last-of-type {
  padding: 5px 10px 0px 10px;
}

#content-section-description > ul {
  padding-bottom: 10px;
}

#content-section-description > ul > li {
  list-style: inside;
  list-style-type: circle;
  padding-left: 24px;
  padding-right: 2px;
}
