
/* MEDIE QUERIES */
@media only screen and (min-width: 992px) {
  #form_search_inside {
    display: none;
  }
  #form_search_outside > input {
    width: 65%;
  }
}
@media only screen and (max-width: 992px) {
  #form_search_outside {
    display: none;
  }
}
@media only screen and (max-width: 631.33px) {
  #form_search_inside {
    display: none;
  }
  #form_search_outside {
    display: inline-flex;
  }
  #form_search_outside > input {
    width: 65%;
    margin-right: 6px;
  }
}

.forms > input {
  border-radius: 15px 50px 30px;
  border: 1px solid black;
}
.forms > button {
  border-radius: 30px 50px 15px;
  background-color: #007500;
  color: #fff;
}
